/* Header styling */
.header {
  z-index: 1;
  min-height: 5vh;
}

.navbar-brand {
  font-size: 2.5rem;
}

.navbar-toggler {
  float: right;
  margin: 10px;
  border: none;
}

.navbar-collapse {
  font-size: 18px;
  margin-top: 50px;
}

.nav-item {
  list-style-type: none;
  margin: 15px;
}

.nav-link:hover {
  cursor: pointer;
}

.li-navLink {
  transition: all 0.5s ease-in-out;
  font-size: 19px;
}

/* Homepage Styling */
.home {
  background: var(--ghost-white);
  min-width: 100vw;
  padding-top: 15vh;
  padding-bottom: 5vh;
  min-height: 100vh;
}

.banner-title {
  font-size: 3rem;
  color: var(--ocean-blue);
  text-align: center;
}

.description {
  padding: 20px 0;
  font-size: 18px;
  line-height: 1.5;
}

.buttons {
  display: flex;
  justify-content: center;
}

.add-book-btn,
.book-list-btn {
  font-size: 18px;
  padding: 10px 20px;
}

.featured {
  padding-top: 30px;
  color: var(--ocean-blue);
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-item {
  width: 200px;
  margin: 20px;
  text-align: center;
}

.book-item h3 {
  font-size: 1.7rem;
  margin: 10px 0;
  font-weight: 600;
  color: var(--cadet);
}

.book-item p {
  font-size: 16px;
}

.btn {
  position: relative;
  cursor: pointer;
  background-color: var(--green);
  border-radius: 25px;
  width: 25%;
  display: block;
  transition: all 1s;
  font-size: 18px;
  padding: 10px 20px;
}

.btn:hover {
  padding-right: 15px;
}

.btn:hover::after {
  opacity: 1;
  right: 20px;
}

.btn:focus {
  outline: none;
}

.page {
  text-transform: capitalize;
}

.remove-btn {
  border: none;
  background: none;
}

/* Add book styling */
.add-header {
  color: var(--ocean-blue);
  font-size: 3.5rem;
  padding-bottom: 30px;
}

.book-input {
  margin: 0 auto;
  width: 80%;
}

.table {
  margin: 0 auto;
  width: 80%;
  border: 10px;
  padding: 20px;
  color: var(--ghost-white);
  background-color: var(--cadet);
  font-size: 2rem;
  cursor: pointer;
}

.tableHeader {
  color: var(--ocean-blue);
}

.table:hover {
  transition: all 1s ease-in-out;
  font-size: 19px;
}

/* Footer Styling */
.footer-div {
  text-align: center;
  bottom: 0;
}

.footer-div h5 {
  font-size: 1.5rem;
}
