.content {
  margin: 10px 0;
  font-size: 20px;
}

[type="text"]::placeholder {
  font-weight: 600;
}

.btn {
  padding: 5px;
  cursor: pointer;
}

.page {
  font-size: 18px;
  text-transform: capitalize;
}

.remove-btn {
  padding: 7px;
  border: none;
  font-weight: 600;
}
