/* Header styling */
.header {
  height: 8vh;
}

.navbar-toggler {
  display: none;
}

.navbar-collapse {
  float: right;
  margin: 0;
}

.nav-link:hover {
  color: var(--amber);
}

/* HomePage Styling */
.home {
  padding-top: 10vh;
}

.banner-title {
  font-size: 4rem;
}

.description {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.book-input {
  width: 60%;
}

.btn {
  width: 20%;
  font-size: 2rem;
}

.btn::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 4px;
  right: 0;
  font-size: 2.5rem;
  transition: 1s;
}

.btn:hover::after {
  opacity: 1;
  right: 20px;
}

/* Book List Styling */
.table {
  width: 70%;
  font-size: 2rem;
}

.table-header {
  font-size: 3rem;
}

.table-cells {
  font-size: 3rem;
}

.booklist-empty {
  padding: 20px 0;
  font-size: 3rem;
}

.remove-edit {
  font-size: 1.8rem;
}

/* Add Book Styling */
.add-header {
  font-size: 4rem;
}

/* Contact Styling */
.contact-info {
  font-size: 4rem;
}

.contact-description {
  font-size: 2rem;
}

.contact-ul-div li {
  font-size: 2rem;
}

/* Popup Styling */
.popup-background {
  width: 70%;
}

.success {
  font-size: 2rem;
}

.pop-btn {
  margin: 0 10px;
  border-radius: 10px;
  border: 2px solid var(--cadet);
  color: var(--green);
  padding: 7px;
}

.pop-btn:hover {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: var(--ghost-white);
}

.edit-input {
  width: 100%;
}
