:root {
  --amber: #ff7f11;
  --cadet: #1a183a;
  --ghost-white: #e8e8f0;
  --green: #548c2f;
  --red: #c2095a;
}

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.7rem;
  font-family: Poppins, sans-serif;
}

.header,
.navbar-toggler,
.footer-div {
  background-color: var(--cadet);
}

.header,
.footer-div {
  position: fixed;
  min-width: 100vw;
}

[type='text']::placeholder,
.page,
.remove-btn {
  font-weight: 600;
}

.navbar-collapse,
.btn {
  margin: 0 auto;
}

.nav-item .nav-link,
.footer-div a {
  text-decoration: none;
}

.span-logo-1,
.fa-burger,
.nav-item,
.footer-div a {
  color: var(--amber);
}

.btn {
  position: relative;
  cursor: pointer;
  background-color: var(--cadet);
  border-radius: 25px;
  width: 25%;
  display: block;
  transition: all 1s;
  font-size: 1.5rem;
  padding: 10px 20px;
}

.span-logo-2,
.nav-item .nav-link,
.btn,
.btn:hover,
.footer-div {
  color: var(--ghost-white);
}

.btn:hover {
  padding-right: 15px;
}

.btn:focus {
  outline: none;
}

.success-container {
  display: none;
  place-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  padding: 100px 25px;
  z-index: 2;
  animation: zoom 0.2s ease-in-out;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.pop-active {
  display: grid;
  text-align: center;
}
